.p-user-card__container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.p-user-card__container .panel-item__container {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: #333;
}
.p-user-card__container .panel-item__label {
    width: 100px;
    color: #666;
}
.p-user-card__container .button-item__container {
    margin-right: 12px;
}